.add-more-rows:hover {
  color: lightgrey;
  text-decoration: underline;
  cursor: pointer;
}

.price-widget {
  margin-bottom: 5px;
}

.btn-price {
  margin-top: 20px;
}

.remove-button:hover {
  cursor: pointer;
}