.h-background-color-white {
  background-color: white;
}

/***********************************/
/**            PARSLEY            **/
/***********************************/


select, input {
  &.parsley-error {
    border-color: #dd5826;
    box-shadow: inset 0 1px 1px rgba(221,88,38,0.075);
  }
}

#parents {
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
}

.parsley-errors-list{
  font-size: 12px;
  padding-left: 0;
  margin-bottom: 5px;

  li{
    list-style: none;
    color: #dd5826;
  }
}

.padding-bottom-5px {
  padding-bottom: 5px;
}

.parsley-errors-list__succes{
  font-size: 18px;
  padding-left: 0;
  margin-bottom: 5px;

  li{
    list-style: none;
    color: #28dd33;
  }
}

/**
 * Switchery.
 */

.switch{
  box-sizing: content-box;

  input {
    display: none;
  }

  i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.5);

    &:before {
      display: block;
      content: '';
      width: 30px;
      height: 30px;
      padding: 1px;
      border-radius: 20px;
      background: white;
      box-shadow: 0 1px 2px rgba(0,0,0,.5);
    }

  }

  :checked + i {
    padding-right: 0;
    padding-left: 20px;
    background: rgb(100, 189, 99);
  }

}

.product-create {
  margin-bottom: 250px;
}

