<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <ol class="breadcrumb custom-breadcrumbs" *ngIf="breadcrumbs.length">
          <li *ngFor="let item of breadcrumbs; let key = index; let lastItem = last;"
              class="breadcrumb-item"
              [ngClass]="lastItem?'active':''">
            <a *ngIf="!lastItem" (click)="navigateBreadcrumbs(key, item.id)">{{item.label}}</a>
            <span class="span-breadcrumbs" *ngIf="lastItem">{{item.label}}</span>
          </li>
        </ol>
      </div>
    </div>
    <h1 class="page-title">Categories - <span class="fw-semi-bold">List</span></h1>
    <div class="col-lg-12">
      <div class="row">
        <button class="btn btn-success create-button"
                [routerLink]="['../create']">
          <i class="fa fa-share-alt"></i>
          {{"create" | translate}} {{"category" | translate}}
      </button>
      </div>
      <div class="row h-background-color-white" (click)="$event.preventDefault()">
        <table class="table table-bordered categories-table">
          <thead>
          <tr>
            <th>{{"id" | translate}}</th>
            <th>{{"name" | translate}}</th>
            <th>{{"edit" | translate}} {{button | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of categories;">
            <td>{{item.id}}</td>
            <td><a href="#" (click)="nextCategories(item.name, item.id)">{{item.name}}</a></td>
            <td>
              <button class="btn btn-success"
                [routerLink] = " ['../edit', item.id]">
                  <i class="fa fa-pencil"></i>
                  {{"edit" | translate}}
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>