.h-background-color-white {
  background-color: white!important;
}

.categories-table {
  margin-bottom: 0;
}

.create-button{
  margin-bottom: calc(1rem + 6px);
}

.custom-breadcrumbs {
  padding-left: 0;
  font-size: 14px;
}

.span-breadcrumbs {
  cursor: default;
}