<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
      <h1 class="page-title">{{"categories_title" | translate}} -
        <span *ngIf="!editData" class="fw-semi-bold">{{"create" | translate}}</span>
        <span *ngIf="editData" class="fw-semi-bold">{{"update" | translate}}</span>
      </h1>
        <div class="widget col-lg-12">
          <div class="form-wizard">
            <div class="tab-content">
              <div class="tab-pane bg-gray-lighter">
                <form novalidate="novalidate" [formGroup]="pageInfoForm">
                  <fieldset>
                    <div class="form-group">
                      <label for="name">{{"Name" | translate}}</label>
                      <input type="text" id="name"
                             placeholder="Category name"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.name.errors? 'parsley-error': ''"
                             formControlName="name">
                      <ul *ngIf="pageInfoForm.controls.name.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"Description" | translate}}</label>
                      <ckeditor formControlName="description"></ckeditor>
                      <ul *ngIf="pageInfoForm.controls.description.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"Title" | translate}}</label>
                      <input type="text" id="title"
                             placeholder="Page title"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.title.errors? 'parsley-error': ''"
                             formControlName="title">
                      <ul *ngIf="pageInfoForm.controls.title.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"meta_description" | translate}}</label>
                      <input type="text" id="meta_description"
                             placeholder="The meta description"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.meta_description.errors? 'parsley-error': ''"
                             formControlName="meta_description">
                      <ul *ngIf="pageInfoForm.controls.meta_description.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"meta_keywords" | translate}}</label>
                      <input type="text" id="meta_keywords"
                             placeholder="cool,stuff"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.meta_keywords.errors? 'parsley-error': ''"
                             formControlName="meta_keywords">
                      <ul *ngIf="pageInfoForm.controls.meta_keywords.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"parents" | translate}}</label>
                      <select multiple class="form-control"
                              id="parents"
                              [ngClass]="pageInfoForm.controls.parents.errors? 'parsley-error': ''"
                              formControlName="parents">
                        <option *ngFor="let parent of parentsArray;"
                                [value] = "parent.id">{{parent.name}}
                        </option>
                      </select>
                      <ul *ngIf="pageInfoForm.controls.parents.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"heading" | translate}}</label>
                      <input type="text" id="heading"
                             placeholder="Text"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.heading.errors? 'parsley-error': ''"
                             formControlName="heading">
                      <ul *ngIf="pageInfoForm.controls.heading.errors" class="parsley-errors-list filled">
                        <li class="parsley-required">{{"form_error_required" | translate}}</li>
                      </ul>
                    </div>
                    <div class="form-group">
                      <label>{{"slug" | translate}}</label>
                      <input type="text" id="slug"
                             placeholder="foo/bar"
                             class="form-control"
                             [ngClass]="pageInfoForm.controls.slug.errors || errorForm? 'parsley-error': ''"
                             formControlName="slug">
                      <ul *ngIf="pageInfoForm.controls.slug.errors || errorForm" class="parsley-errors-list filled">
                        <li *ngIf="pageInfoForm.controls.slug.errors"
                            class="parsley-required">{{"form_error_required" | translate}}
                        </li>
                        <li *ngIf="errorForm" class="parsley-required">{{errorForm}}</li>
                      </ul>
                    </div>
                  </fieldset>
                </form>
              </div>

              <ul class="pager wizard">
                <li>
                  <button *ngIf="!editData"
                          class="btn btn-primary btn-rounded pull-right"
                          (click)="create()"
                          [disabled]="!pageInfoForm.valid">{{"create" | translate}}
                  </button>
                  <button *ngIf="editData"
                          class="btn btn-primary btn-rounded pull-right"
                          (click)="update()"
                          [disabled]="!pageInfoForm.valid">{{"update" | translate}}
                  </button>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- routes -->
<div *ngIf="editData" class="container">
  <div class="row">
    <h1 class="page-title">
      {{"categories_title" | translate}} -
      <span class="fw-semi-bold">
        {{"routes_title" | translate}}
      </span>
    </h1>
    <div class="col-lg-12">
      <div class="row h-background-color-white">
        <table class="table table-bordered categories-table">
          <thead>
          <tr>
            <th>{{"slug" | translate}}</th>
            <th>{{"id" | translate}}</th>
            <th>{{"primary" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of categoryRoute; let key = index;">
            <td>{{item.slug}}</td>
            <td>{{item.id}}</td>
            <td>
              <input type="radio"
                     name="primary"
                     [checked]="item.slug == mainSlug"
                     (change)="setPrimary(item.slug)"
                     value="key">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="route-form">
          <form [formGroup]="routesForm" class="form-horizontal">
            <div class="form-group">
              <label class="control-label">{{"slug" | translate}}</label>
              <p *ngIf="!!error" class="error">{{error}}</p>
              <input type="text"
                     formControlName="slug"
                     class="form-control"
                     placeholder="foo/bar">
            </div>
            <div class="form-group abc-checkbox abc-checkbox-success">
              <input type="checkbox" formControlName="primary" id="primaryCheckbox">
              <label for="primaryCheckbox">{{"primary" | translate}}</label>
            </div>
            <button class="btn btn-success"
                    (click)="addRoute()"
                    [disabled]="!routesForm.valid">
              <i class="fa fa-plus"></i>
              {{"add" | translate}} {{"route" | translate}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>