.h-background-color-white {
  background-color: white!important;
}

.attributes-table {
  margin-bottom: 0;
}

td {
  vertical-align: middle;
}


.attributes-form {
  background-color: white !important;
  margin: 15px 0;
  padding: 15px;
  width: 100%;
}

.error {
  background-color: #f2dede;
  padding: 15px;
}

.color-tag {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}