<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>

  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav" data-parent="#sidebar">
    <li>
      <a class="collapsed" data-target="#sidebar-categories" data-toggle="collapse">
        <span class="icon">
            <i class="fa fa-table"></i>
        </span>
        {{"categories_title" | translate}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul class="collapse" id="sidebar-categories">
        <li>
          <a [routerLink]=" ['categories', 0] ">
            {{"list_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['categories/routes', 0] ">
            {{"routes_title" | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar-nav" data-parent="#sidebar">
    <li>
      <a class="collapsed" data-target="#sidebar-products" data-toggle="collapse">
       <span class="icon">
           <i class="fa fa-table"></i>
       </span>
        {{"products_title" | translate}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul class="collapse" id="sidebar-products">
        <li>
          <a [routerLink]=" ['products','list'] ">
            {{"list_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['products','routes','iwPy8XA'] ">
            {{"routes_title" | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar-nav" data-parent="#sidebar">
    <li>
      <a class="collapsed" data-target="#sidebar-providers" data-toggle="collapse">
       <span class="icon">
           <i class="fa fa-table"></i>
       </span>
        {{"providers_title" | translate}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul class="collapse" id="sidebar-providers">
        <li>
          <a [routerLink]=" ['providers','list'] ">
            {{"list_title" | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar-nav" data-parent="#sidebar">
    <li>
      <a class="collapsed" data-target="#sidebar-pages" data-toggle="collapse">
       <span class="icon">
           <i class="fa fa-table"></i>
       </span>
        {{"pages_title" | translate}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul class="collapse" id="sidebar-pages">
        <li>
          <a [routerLink]=" ['pages','list'] ">
            {{"list_title" | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="sidebar-nav" data-parent="#sidebar">
    <li>
      <a class="collapsed" data-target="#sidebar-attributes" data-toggle="collapse">
       <span class="icon">
           <i class="fa fa-table"></i>
       </span>
        {{"attributes_title" | translate}}
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul class="collapse" id="sidebar-attributes">
        <li>
          <a [routerLink]=" ['attributes','size'] ">
            {{"size_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['attributes','color'] ">
            {{"color_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['attributes','model'] ">
            {{"model_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['attributes','clothing_size'] ">
            {{"clothing_size_title" | translate}}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['attributes','flavour'] ">
            {{"flavour_title" | translate}}
          </a>
        </li>
      </ul>
    </li>
  </ul>

</div>
